.BrainhubCarousel__arrows {
    position: relative;
    padding: 21px;
    border: none;
    overflow: hidden;
    outline: 0;
    font-size: 0;
    line-height: 0;
    background-color: #0d6efd;
}

.box{
    background-color: #DDDDDD;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: white 2px 2px 2px 2px;
}
.tittle{
    position: relative;
    animation: heading;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes heading {
    0% {left: -50px}
    100% {left :220px}
}
.content{
    position: relative;
    animation-name: paragraph;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes paragraph {
    0% {opacity: 0 ;}
    100% {opacity: 1;}
}
@media only screen and (max-width: 768px){
    @keyframes heading {
        0% {left: -10px}
        100% {left :20px}
    }
    @keyframes paragraph {
        0% {opacity: 0 ;}
        100% {opacity: 1;}
    }
}
@media only screen and (max-width: 600px){
    @keyframes heading {
        0% {left: -10px}
        100% {left :20px}
    }
    @keyframes paragraph {
        0% {opacity: 0 ;}
       100% {opacity: 1;}
    }
}
/*** Contact ***/

.btn-primary {
    color: #FFF !important;
    width: 100%;
    margin: auto;
}
.buttom_contact{
    margin: auto;
}
.contact_info {
    margin: auto;
    padding: 1rem;
}